.fundo{
    min-height: 120vh;
    background-image: url(./imagem.png);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    margin-top: 0px;
    color: rgba(128, 128, 128, 0.972)
}