/* Produtos */

.bodyProduto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
  }
.sectionProduto {
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

/* Categorias */

.lista-categorias{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.categoria{
    font-size: 20px;
    padding: 5px;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    margin: 20px;
    float:none;
    color: #333;
    
}
.categoria:hover{
    background-color: black;
    color: white;
    text-decoration: none;
}
.categoriaLink:hover{
    text-decoration: none;
}

/* Card Produto */

.cardProduto{
    border: 3px solid #333;
    border-radius: 5px;
    margin: 5px;
    margin-top: 20px;
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardPreco{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.link{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titulo{
    width: 95%;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color:#333;
    color: floralwhite;
    margin: 3px 1px;
    min-height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.imagem{
    width: 40%;
}

/* Detalhe Produto */

.detalhe-prod{
    border: 3px solid #333;
    border-radius: 5px;
    width: 30%;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.detalheItem{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.titulo-prod{
    width: 95%;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color:#333;
    color: floralwhite;
    margin: 3px 1px;
    min-height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.preco-prod{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
